<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.t2cloud.workflow.mapper.WfInstanceStepMapper">
    <resultMap id="BaseResultMap" type="com.t2cloud.workflow.pojo.WfInstanceStep">
        <id column="step_id" property="stepId" jdbcType="BIGINT"/>
        <result column="instance_id" property="instanceId" jdbcType="BIGINT"/>
        <result column="step_name" property="stepName" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="order_no" property="orderNo" jdbcType="INTEGER"/>
        <result column="step_type" property="stepType" jdbcType="INTEGER"/>
        <result column="is_last" property="isLast" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="super_id" property="superId" jdbcType="BIGINT"/>
        <result column="next_id" property="nextId" jdbcType="BIGINT"/>
        <result column="deadline" property="deadline" jdbcType="BIGINT"/>
        <result column="isauto" property="isauto" jdbcType="INTEGER"/>
        <result column="rebut" property="rebut" jdbcType="INTEGER"/>
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    step_id, instance_id, step_name, type, order_no, step_type, is_last, status, super_id, 
    next_id, deadline, isauto, rebut, begin_time, end_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from wf_instance_step
        where step_id = #{stepId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wf_instance_step
    where step_id = #{stepId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="stepId"
            parameterType="com.t2cloud.workflow.pojo.WfInstanceStep">
    insert into wf_instance_step (step_id, instance_id, step_name, 
      type, order_no, step_type, 
      is_last, status, super_id, 
      next_id, deadline, isauto, 
      rebut, begin_time, end_time
      )
    values (#{stepId,jdbcType=BIGINT}, #{instanceId,jdbcType=BIGINT}, #{stepName,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{orderNo,jdbcType=INTEGER}, #{stepType,jdbcType=INTEGER}, 
      #{isLast,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{superId,jdbcType=BIGINT}, 
      #{nextId,jdbcType=BIGINT}, #{deadline,jdbcType=BIGINT}, #{isauto,jdbcType=INTEGER}, 
      #{rebut,jdbcType=INTEGER}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="stepId"
            parameterType="com.t2cloud.workflow.pojo.WfInstanceStep">
        insert into wf_instance_step
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stepId != null">
                step_id,
            </if>
            <if test="instanceId != null">
                instance_id,
            </if>
            <if test="stepName != null">
                step_name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="stepType != null">
                step_type,
            </if>
            <if test="isLast != null">
                is_last,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="superId != null">
                super_id,
            </if>
            <if test="nextId != null">
                next_id,
            </if>
            <if test="deadline != null">
                deadline,
            </if>
            <if test="isauto != null">
                isauto,
            </if>
            <if test="rebut != null">
                rebut,
            </if>
            <if test="beginTime != null">
                begin_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stepId != null">
                #{stepId,jdbcType=BIGINT},
            </if>
            <if test="instanceId != null">
                #{instanceId,jdbcType=BIGINT},
            </if>
            <if test="stepName != null">
                #{stepName,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=INTEGER},
            </if>
            <if test="stepType != null">
                #{stepType,jdbcType=INTEGER},
            </if>
            <if test="isLast != null">
                #{isLast,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="superId != null">
                #{superId,jdbcType=BIGINT},
            </if>
            <if test="nextId != null">
                #{nextId,jdbcType=BIGINT},
            </if>
            <if test="deadline != null">
                #{deadline,jdbcType=BIGINT},
            </if>
            <if test="isauto != null">
                #{isauto,jdbcType=INTEGER},
            </if>
            <if test="rebut != null">
                #{rebut,jdbcType=INTEGER},
            </if>
            <if test="beginTime != null">
                #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.t2cloud.workflow.pojo.WfInstanceStep">
        update wf_instance_step
        <set>
            <if test="instanceId != null">
                instance_id = #{instanceId,jdbcType=BIGINT},
            </if>
            <if test="stepName != null">
                step_name = #{stepName,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=INTEGER},
            </if>
            <if test="stepType != null">
                step_type = #{stepType,jdbcType=INTEGER},
            </if>
            <if test="isLast != null">
                is_last = #{isLast,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="superId != null">
                super_id = #{superId,jdbcType=BIGINT},
            </if>
            <if test="nextId != null">
                next_id = #{nextId,jdbcType=BIGINT},
            </if>
            <if test="deadline != null">
                deadline = #{deadline,jdbcType=BIGINT},
            </if>
            <if test="isauto != null">
                isauto = #{isauto,jdbcType=INTEGER},
            </if>
            <if test="rebut != null">
                rebut = #{rebut,jdbcType=INTEGER},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where step_id = #{stepId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.t2cloud.workflow.pojo.WfInstanceStep">
    update wf_instance_step
    set instance_id = #{instanceId,jdbcType=BIGINT},
      step_name = #{stepName,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=INTEGER},
      step_type = #{stepType,jdbcType=INTEGER},
      is_last = #{isLast,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      super_id = #{superId,jdbcType=BIGINT},
      next_id = #{nextId,jdbcType=BIGINT},
      deadline = #{deadline,jdbcType=BIGINT},
      isauto = #{isauto,jdbcType=INTEGER},
      rebut = #{rebut,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where step_id = #{stepId,jdbcType=BIGINT}
  </update>

    <!--查询实例步骤-->
    <select id="selectByUserId" parameterType="java.lang.String">
    select * from  wf_instance _instance left join wf_instance_step _step
      on _instance.instance_id=_step.instance_id
      left join wf_instance_user _user
      on _step.step_id=_user.step_id
      where _user.handler_id=#{handlerId};
  </select>
</mapper>